/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* Styles  with screen as 50%*/

.logo {
	margin-left: 1.5rem;
	width:7.5rem;
	height:7.5rem;
	margin-top:-1rem;
}
.leadex {
	margin-top:-9.5rem;
	margin-left: 8rem;
	font-size:3.5rem;
}

.ad {
	margin-left: 8rem;
	font-size:1.6rem;
	margin-top:-4rem;
}

	 
      .mySlides{
	    margin-left:-18rem;
		width:50rem;
	   height:54rem;
	   margin-top:7rem;
       }

.ft{
	float:left;
	margin-left:-37rem;
	margin-top:6rem;
	
}
     .header .menu{
		 margin-top:2rem;
		 margin-left:15rem;
		
	 }

.header .menu-icon .navicon{
		 margin-top:2rem;
		 margin-right:5rem;
		 size:2rem;
		  background: #333;
         transition: background .2s ease-out;
  
		
	 }
.header .menu-icon {
	font-size:4rem;
}

.imagex{
	 margin-left:4rem;
	  width:45rem;
	  height:35rem;
	   
   }
  .aboutback
   {
	   margin-left:-15rem;
	   width:40rem;
	   height:25rem;
   }
   
   .mySlides1{
	   margin-left:7rem;
	   margin-top:-2rem;
	    width:40rem;
	   height:auto;
   }
   
   
   .imageex1 ,.imageex2 ,.imageex3
   {
	   width:50rem;
	  height:30rem;
   }
   
  .image1{
	width:650px;
	height:300px;
}
.image2{
	height:300px;
	width:650px;
}

.image3{
	
	height:300px;
	width:300px;
	margin-left:-7rem;
}
.onemore
{
	margin-top:23rem;
	float:left;
	margin-left:-5rem;
}

.lefttab .text3
{
	
	font-size:2rem;
	text-align:justify;
	margin-left:1rem;
	margin-top:3rem;
	line-height:1.9rem;
}

.lefttab .para3
{
	
	margin-left:1rem;
	text-align:justify;
	margin-top:1rem;
	line-height:1.9rem;
}



span.acqbutton{
	margin-top:-7rem;
}
span.exbutton{
	position:relative;
	margin-top:3rem;
	margin-left:3rem;
}
 video{
	margin-top:25rem;
	margin-left:-47rem;
}
    
.cont img{
	   margin-left:-15rem;
	   width:22rem;
   }
   span.continfo1 
   {
	 width:100px;
     margin-top:10rem;	 
	   
   }
   .send{
	   float:left;
   }

    
}
/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* Styles */

}
/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
/* Styles */

}
/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* Styles */
}
/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* Styles */
}
/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}