@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);


.logo,.leadex {
   display:inline-block;
    vertical-align:middle;
	
}

.logo
{
  width:5rem;
  height:4rem; 
  margin-left: 16rem;
 
  
  
  
}

.leadex
{
font-family:futura-lt-w01-book,sans-serif;

font-size: 2.5vw; 
width:100%;
line-height:1rem; 
margin-top: -3.5rem;
margin-left: 20rem;
color:#605E5E

}

.ad
{
  font-family:futura-lt-w01-book,sans-serif;
  margin-left: 23rem;
  font-size:1vw;
  font-weight:bold;
  color:#605E5E;
  margin-top:-1.7rem;
 
 }


a {
    color:#A0A09F;;
}

/* header */


.header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin-right:4rem;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  
  text-decoration: none;
}
li.dropdown{
  display: inline-block;
  position:relative;
  
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:white;
  min-width: 160px;
  z-index: 0;
}

.dropdown-content a {
  font:normal normal normal 16px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
  color:#A0A09F;
  padding:8px;
  text-decoration: none;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropbtn:hover .dropdown-content {
  display:block;
  margin-top:1.5rem;
  
}
.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  margin-right:6rem;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 8px;
	margin:1rem;
	
  }
  .header .menu {
    clear: none;
    float: right;
	margin-top:-6rem;
	margin-right:20rem;
    max-height: none;
	font:normal normal normal 16px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
    color:#A0A09F;
  }
  .header .menu-icon {
    display: none;
  }
  .dropdown .dropbtn:hover .dropdown-content {
    display: block;
}
}
@media all and (max-width : 330px) {

	nav ul li {
		display:block;
		width: 94%;
	}

}
body {
  font-family:futura-lt-w01-book,sans-serif;
}





* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}

/*img {
vertical-align: middle;
 max-height:500px;
 max-width: 1000px;
} */

.slideshow-container {
  max-width: 1000px;
  position: relative;
  max-height:280px;
  margin-top:2rem;
  margin-left:18rem;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: 65px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev2, .next2 {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: 42rem;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.next2 {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.prev2:hover, .next2:hover {
  background-color: rgba(0,0,0,0.8);
}


/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.videoframe1{
	
}

 /* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* Styles */
.logo {
	margin-left: 1.5rem;
	width:3rem;
	height:3rem;
	margin-top:-2rem;
}
.leadex {
	margin-top:-2.5rem;
	margin-left: 5rem;
	font-size:1.5rem;
}

.ad {
	margin-left: 5rem;
	font-size:0.7rem;
	margin-top:-1.5rem;
}
   
	 
      
	  
	  .mySlides{
	    
      margin-left:-18rem;
	  margin-top:5rem;
		width:25rem;
	   height:40rem;
       }

  .ft {
	display:contents;
	
	position:relative;
	
   }
.imagex{
	   
	   width:37rem;
	   height:20rem;
	  
   }
   
  .aboutback
   {
	   margin-left:-24rem;
	   
	   width:28rem;
	   height:27rem;
   }
   .mySlides1{
	   margin-left:0rem;
	   margin-top:-10rem;
	    width:25rem;
	   height:auto;
   }
   
  
   .dot{
	  margin-top:-10rem;
   }
   .cont img{
	   margin-left:-15rem;
	   width:22rem;
   }
   span.continfo1 
   {
	 width:100px;
     margin-top:10rem;	 
	   
   }
   .send{
	   float:left;
   }
   .imageex1 ,.imageex2 ,.imageex3
   {
	    width:35rem;
	   height:20rem;
   }
  

.image1{
	width:300px;
	height:350px;
}
.image2{
	height:300px;
}

.image3{
	
	height:350px;
	width:300px;
	margin-left:-10rem;
}
.onemore
{
	float:left;
	margin-left:-5rem;
}


.lefttab .text3
{
	
	font-size:2rem;
	text-align:justify;
	margin-left:1rem;
	margin-top:1rem;
	line-height:1.9rem;
}

.lefttab .para3
{
	
	margin-left:1rem;
	text-align:justify;
	margin-top:1rem;
	line-height:1.9rem;
}



span.acqbutton{
	margin-top:-7rem;
}
span.exbutton{
	position:relative;
	margin-top:3rem;
	margin-left:3rem;
}
 video{
	margin-top:25rem;
	margin-left:-47rem;
}
    
}
/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* Styles */
}
/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* Styles */

  
}
/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* Styles  with screen as 50%*/

.logo {
	margin-left: 1.5rem;
	width:5.5rem;
	height:4.5rem;
	margin-top:-1rem;
}
.leadex {
	margin-top:-3.5rem;
	margin-left: 6.5rem;
	font-size:2rem;
}

.ad {
	margin-left: 7rem;
	font-size:1rem;
	margin-top:-2rem;
}

	 
      .mySlides{
	    margin-left:-18rem;
		width:50rem;
	   height:54rem;
	   margin-top:7rem;
       }

.ft{
	float:left;
	margin-left:10rem;
	margin-top:0rem;
	
}
     .header .menu{
		 margin-top:2rem;
	 }




.imagex{
	 
	  width:27rem;
	  height:25rem;
	   
   }
  .aboutback
   {
	   margin-left:-22rem;
	   width:28rem;
	   height:20rem;
   }
   
   .mySlides1{
	   margin-left:-3rem;
	   margin-top:-4rem;
	    width:30rem;
	   height:auto;
   }
   
   
   .imageex1 ,.imageex2 ,.imageex3
   {
	   width:25rem;
	  height:27rem;
   }
   
  .image1{
	width:350px;
	height:300px;
}
.image2{
	height:250px;
	width:350px;
}

.image3{
	
	height:300px;
	width:300px;
	margin-left:-10rem;
}
.onemore
{
	margin-top:4rem;
	float:left;
	margin-left:-5rem;
}

.lefttab .text3
{
	
	font-size:2rem;
	text-align:justify;
	margin-left:1rem;
	margin-top:3rem;
	line-height:1.9rem;
}

.lefttab .para3
{
	
	margin-left:1rem;
	text-align:justify;
	margin-top:1rem;
	line-height:1.9rem;
}



span.acqbutton{
	margin-top:-7rem;
}
span.exbutton{
	position:relative;
	margin-top:3rem;
	margin-left:3rem;
}
 video{
	margin-top:25rem;
	margin-left:-47rem;
}
    
.cont img{
	   margin-left:-15rem;
	   width:22rem;
   }
   span.continfo1 
   {
	 width:100px;
     margin-top:10rem;	 
	   
   }
   .send{
	   float:left;
   }

    
}
/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* Styles */

}
/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
/* Styles */

}
/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* Styles */
}
/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* Styles */
}
/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}



.cont,.continfo{
    display:inline-block;
    vertical-align:middle;
}
.cont{
display:inline-flex;
margin-left:16rem;
 height:400px;
 width: 400px;
}

.buttonback1{                   /*get started back buttons*/
  background-color:transparent;
  border: none;
  position:absolute;
  color: transparent;
  bottom: 18rem;
  left: 8rem;
  padding:2rem 8rem;
  text-align: center;
  text-decoration: none;
  
  font-size: 16px;
  
  margin: 4px 2px;
  cursor: pointer;
}
.buttonback2 
{
background-color:transparent;
  border: none;
  position: absolute;
  color: transparent;
  bottom: 18rem;
  right: 8rem;
  padding: 2rem 8rem;
  text-align: center;
  text-decoration: none;
  
  font-size: 16px;
  
  margin: 4px 2px;
  cursor: pointer;	
}

.buttonback3 
{
background-color:transparent;
  border: none;
  position: absolute;
  color: transparent;
  bottom: 11rem;
  right: 36rem;
  padding: 1rem 5rem;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  z-index:1;
  margin: 4px 2px;
  cursor: pointer;	
}

.buttonback4 
{
background-color:transparent;
  border: none;
  position: absolute;
  color: transparent;
  bottom: 19rem;
  right: 28rem;
  padding: 0.7rem 3rem;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  z-index:1;
  margin: 4px 2px;
  cursor: pointer;	
}
.continfo ,.continfo1{
display:inline-grid;

margin-top:0rem;
margin-left:1rem;
line-height:0.1;
}

.continfo{
font-weight:bold;
font-size:12px;
vertical-align:top;

}

input ,textarea::placeholder {
  font-size:20px;
 
}
textarea
{
	width:43rem;
	height:12rem;
}
.continfo1{
font: normal normal normal 14px/1.4em din-next-w01-light,
din-next-w02-light,din-next-w10-light,sans-serif;
vertical-align:middle;
height:17rem;
line-height:1;
margin-top:6rem;
padding:3px;
margin-left:-12.5rem;

 }

.send
{
    background-color: rgba(160, 160, 159, 1);
    font: normal normal normal 14px/1.4em din-next-w01-light,
din-next-w02-light,din-next-w10-light,sans-serif;
    border: 0;
	width: 3.3em;  
	height: 2em;
	margin-left:40rem;
	text-align:right;
    color: #FFFFFF;
    cursor: pointer;
    
}


/*Acquisition*/
.firsttab {
    min-height: ;
    position: relative;
	
}
.image1 {
    max-height: 503px;
    max-width: 1400px;
}

.text1
{   
letter-spacing:0.05em;
   margin-top:-28rem;
   margin-left:55rem;
	font-family:futura-lt-w01-book,sans-serif;
	font-size: 55px;
}

.para1
{
	font-family:futura-lt-w01-book,sans-serif;
	font-size:21px;
	color: #2F2E2E;
	line-height:1.8rem;
	margin-left:55rem;
}

.image2
{
max-width:100% ;
max-height:100%;
margin:0px;
padding:0px;	

}

.image3
{
	margin-left:52rem;
}

.imageabout

{
	max-width:100%;
max-height:100%;
margin-left:22rem;

padding:0px;
}
.imageex1
{
max-width:100% ;
max-height:100%;
margin:0px;
padding:0px;
z-index:-1	

}

.imageex2
{
max-width:100% ;
max-height:100%;
margin:0px;
padding:0px;	

}
.imageex3
{
max-width:100% ;
max-height:100%;
margin:0px;
padding:0px;	

}
.imagex
{
max-width:100% ;
max-height:100%;
margin:0px;
padding:0px;	


}
.point00
{
	 letter-spacing:0.05em;
   margin-top:-22rem;
   margin-left:7rem;
	font-family:futura-lt-w01-book,sans-serif;
	font-size: 18px;

}

ul ,ol
{
	font-family:futura-lt-w01-book,sans-serif;
	padding:1px;
	line-height:0.3rem;
	font-weight:bold;
	margin-left:7rem;
	font-size:13px;
}

.text2
{   
letter-spacing:0.05em;
    margin-left:2rem;
	font-family:futura-lt-w01-book,sans-serif;
	font-size: 29px;
	
}
.para2
{
	margin-top:-2rem;
	font-family: Futura,Arial,sans-serif; 
	font-size:17px;
	margin-left:2rem;
	color: #2F2E2E;
	line-height:1.8rem;
	
	
}

.videoframe{
	
	margin-left:48rem;
	margin-top:-23rem;
	
}

.exbutton ,.acqbutton {
  background-color: rgba(32, 126, 169, 1);
  border: none;
  margin-left:20rem;
  font:normal normal normal 17px/1.4em dinneuzeitgroteskltw01-_812426,sans-serif;
  color: black;
  padding: 36px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}
.text3
{   
letter-spacing:0.05em;
   
   margin-left:20rem;
	font-family:futura-lt-w01-book,sans-serif;
	font-size: 35px;
}

.para3
{
	font-family:futura-lt-w01-book,sans-serif;
	font-size:21px;
	color: #2F2E2E;
	line-height:1.8rem;
	margin-left:20rem;
}	
/*Social media Footer */
.ft
{
    float:right;
    margin-top:12rem;
    margin-right:23rem;

}
.fa {
  padding: 0.5rem;
  font-size: 14px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  margin: 2px;
}

.fa-instagram {
  background: #f40083;
  color: white;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}